{% extends 'base.html.twig' %}


{% block title %}Financy System{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Welcome to the Financy System</h1>
    </div>
{% endblock %}
